<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/icons/bootstrap-icons.css">
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"  type="text/javascript"></script>
<script src="../js/mm_main.js"></script>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>

<body class="bg_login" onload="startLoad()">
    <header class="mmi_header">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="../index.html" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="../img/logo-neo-small.png">
                <div class="fs-4">mini<span class="fs-2">MI</span></div>
            </a>


            <nav class="navbar navbar-expand-lg navbar-light mmi_main_menu">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item bi-basket"
                                href="/views/product.html?category=clothing">
                                &nbsp;Ropa</a></li>
                        <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item bi-emoji-smile"
                                href="/views/product.html?category=toy">
                                    &nbsp;Juguetes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item fas bi-map"
                                    href="../views/location.html">
                                    &nbsp;Ubicación</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                            <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item fas bi-phone"
                                    href="../views/contact.html">
                                    &nbsp;Contacto</a></li>
                            <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item bi-person mm-tag-contact-info"
                                    href="../views/login.html">
                                    &nbsp;Iniciar sesión</a></li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container mt-5">
        <div
            class="d-flex justify-content-between align-items-center mb-3 border-bottom subtitle mmi_product_subtitle_location">
            <h4><span>Registro de nuevos usuarios</span></h3>
        </div>
        <div class="container mt-5 mmi_form_container">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" required="required" class="form-control" id="inputName" placeholder="Nombre" required>
                </div>
                <div class="col-md-6">
                    <label for="inputLastname" class="form-label">Apellido</label>
                    <input type="text" required="required" class="form-control" id="inputLastname" placeholder="Apellido" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ingrese su email</label>
                    <input type="email" required="required" class="form-control" id="inputEmail4" placeholder="Email" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Cree una contraseña</label>
                    <input type="password" required="required" class="form-control" id="inputPassword4" placeholder="Contraseña" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Dirección de domicilio</label>
                    <input type="text" required="required" class="form-control" id="inputAddress" placeholder="Calle y numero">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Dirección de facturación</label>
                    <input type="text" required="required" class="form-control" id="inputAddress2" placeholder="Calle y numero">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Localidad</label>
                    <input type="text" required="required" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Provincia</label>
                    <select required="required" id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Córdoba</option>
                        <option>CABA</option>
                        <option>Mendoza</option>
                        <option>Santa Fe</option>
                        <option>Salta</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Código postal</label>
                    <input type="text" required="required" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" required="required" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Autorizo a MiniMi a usar mis datos con el fin de sugerirme productos
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn mmi_btn">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <footer id="mdb-footer" class="mt-3">
        <section class="d-flex ">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">MINImi</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p>
                            Ropa para todas las etapas de la infancia
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Productos</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p>
                            <a href="../views/clothing.html" class="">Ropa</a>
                        </p>
                        <p>
                            <a href="../views/toys.html" class="">Juguetes</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Social</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p>
                            <a href="#!" class="bi-instagram">minimi</a>
                        </p>
                        <p>
                            <a href="#!" class="bi-facebook">miniMIShop</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <a href="../views/contact.html">
                            <h6 class="text-uppercase fw-bold">Contactanos</h6>
                        </a>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p><i class="fas bi-shop mr-3"></i> C. de Cordoba, Ninez 123, AR</p>
                        <a href="../views/location.html">
                            <p><i class="fas bi-map mr-3"></i> Ver mapa</p>
                        </a>
                        <p><i class="fas bi-mailbox mr-3"></i> info@minimi.com</p>
                        <p><i class="fas bi-phone-fill mr-3"></i> + 54 234 567 88</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>